body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 150px;
}
/*This is how to import font-family:copy the fonts family from google and paste on the link at the head section*/
h1 {
  font-family: "oswald", sans-serif;
  color: rgb(31, 25, 25);
  margin-top: 30px;
}
span {
  color: rgb(66, 2, 2);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid rgb(44, 44, 44);
  margin-top: -133.6px;
  /* to make the image at the center of the border;margin of 28.8(4.8px for border-raius and 24px of padding)
  +105px(half of image-hieght(200),10px(5px botherwidth-top & 5pxbother-width bottom)=133.6px
  get the actual measurement through chrome inspect */
}
p {
  font-family: "fira sans", sans-serif;
  color: rgb(83, 75, 75);
  font-size: 24px;
}
a {
  color: rgb(170, 1, 78);
  text-decoration: none;
  font-family: "fira sans", sans-serif;
}
a:hover {
  font-family: "fira sans", sans-serif;
  text-decoration: underline;
}
#todays-challenge {
  font-weight: bold;
  font-size: 52px;
  color: rgb(75, 59, 59);
}
/*  (body ol)is an example of descendant combinator */
body ol {
  color: rgb(83, 75, 75);
  font-family: "oswald", sans-serif;
  font-size: 30px;
  list-style-type: none;
}
li {
  border-radius: 6px;
  width: 500px;
  margin: 10px auto 0 auto;
  margin-bottom: 20px;
  padding: 16px;
  background-color: rgb(223, 134, 124);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
main {
  width: 800px;
  margin: 100px auto 72px auto;
  background-color: rgb(219, 108, 94);
  padding: 24px;
  border: 5px solid rgb(44, 44, 44);
  border-radius: 8px;
  box-shadow: 1px 8px 4px rgba(0, 0, 0, 0.3);
}
