html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(42, 42, 60);
}
.wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.parent {
  width: 37%;
  margin: 20px;
  height: 280px;
  overflow: hidden;
  position: relative;

  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}
.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: all 1.1s;
}

.bg-one {
  background-image: url("/img/nature1.jpg");
}

.bg-two {
  background-image: url("/img/city.jpg");
}
.bg-three {
  background-image: url("/img/img_forest.jpg");
}
.bg-four {
  background-image: url("/img/tech.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.parent:hover .child {
  transform: scale(1.2);
}
