main.my-container {
  margin: 0;
  background-color: whitesmoke;
  margin-left: 8%;
  min-width: 92%;
  height: 100%;
  position: fixed;
  overflow: auto;
}
.wrapper {
  padding: 20px 0 0 10px;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: auto;
}
.parent {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;

  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}
.child {
  height: 100%;
  width: 100%;
  transition: all 1.1s;
}

.bg-one {
  background-image: url("/img/animation.webp");
  background-size: cover;
  background-position: 0%;
}

.bg-two {
  background-image: url("/img/city.jpg");
}
.bg-three {
  background-image: url("/img/img_forest.jpg");
}
.bg-four {
  background-image: url("/img/tech.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}
.bg-five {
  background-image: url("/img/drummer.webp");
}
.bg-six {
  background-image: url("/img/fulanis.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}
.bg-seven {
  background-image: url("/img/tree.webp");
  background-size: cover;
  background-position: 0%;
}
.bg-eight {
  background-image: url("/img/town.jpg");
}
.bg-nine {
  background-image: url("/img/drawing.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-ten {
  background-image: url(/img/IMG_2108.JPG);
  background-position: 0%;
}
.bg-eleven {
  background-image: url("/img/121.jpg");
}
.bg-twelve {
  background-image: url("/img/home1.png");
  background-size: cover;
  background-position: 0%;
}
.parent:hover .child {
  transform: scale(1.2);
}
